.boards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  .score,
  .scene,
  .option {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    @include outlineMimic();
    @include outlineMimicRadius(0.5rem);
    border-radius: 0.5rem;
  }

  .score {
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
  }

  .scene {
    .box {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }

  .option {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 0.5rem;
  }
}
