.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  background-color: $--color-gray-800;
  border-radius: 0.5rem;
  outline: 0;

  &.dim:hover {
    opacity: 1;
  }
}
