main {
  --max-width: 768px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  max-width: min(min(100vh, 100vw), var(--max-width));
}
