.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .text {
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba($color: $--color-gray-800, $alpha: 0.75);
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    letter-spacing: 0.125rem;

    &.won {
      &::before {
        content: "";
        position: absolute;
        top: calc(-1 * 2px);
        left: calc(-1 * 2px);
        height: calc(100% + 2px * 2);
        width: calc(100% + 2px * 2);
        background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: 0.5rem;
        z-index: -1;
        animation: animatedgradient 1s ease alternate infinite;
        background-size: 300% 300%;
      }
    }

    &.lost {
      &::before {
        content: "";
        position: absolute;
        top: calc(-1 * 2px);
        left: calc(-1 * 2px);
        height: calc(100% + 2px * 2);
        width: calc(100% + 2px * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab);
        border-radius: 0.5rem;
        z-index: -1;
        animation: animatedgradient 1s ease alternate infinite;
        background-size: 300% 300%;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;

    .label {
      opacity: 0.5;
      font-size: 0.85;
      font-weight: bold;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  .button {
    font-size: 0.9rem;
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

    &:hover {
      transform: scale(1.15);

      &.easy {
        box-shadow: 0 0 1rem 0.25rem $--color-blue-500,
          inset 0 0 0.25rem $--color-blue-500;
      }

      &.hard {
        box-shadow: 0 0 1rem 0.25rem $--color-red-500,
          inset 0 0 0.25rem $--color-red-500;
      }
    }
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
