.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .text {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $--color-gray-800;
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    letter-spacing: 0.125rem;

    &.won {
      box-shadow: 0 0 3rem $--color-green-500,
        inset 0 0 0.125rem $--color-green-500;
    }

    &.lost {
      box-shadow: 0 0 3rem $--color-red-500, inset 0 0 0.125rem $--color-red-500;
    }
  }

  .button {
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  }

  .button:hover {
    box-shadow: 0 0 1rem 0.25rem $--color-purple-500,
      inset 0 0 0.25rem $--color-purple-500;
    transform: scale(1.15);
  }
}
