.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.selected {
  @include outlineMimicColor($--color-blue-500 !important);
}

.dim {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
}

.transparent {
  opacity: 0;
}
