.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.selected {
  outline: solid 1px $--color-blue-500 !important;
  outline-offset: 1px;
}

.dim {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
}

.transparent {
  opacity: 0;
}
